<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/rayman/raymanlogo.png" type="icono">
    <link rel="stylesheet" href="../css/style.videojocs.css">
    <title>CSGO 2</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="../img/csgo/ICONO.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/icono-videojuegos.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">

    </head>
    <body>
<header style="background-image: url(../img/tlouimg.jpg);">
    <div class="container">
     <h1 class="titulo-principal">CSGO</h1>
    </div>
    <br>
     <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../view/videojoc1.html">Rayman Legends</a></li>
            <li><a href="../view/videojoc2.html">Fifa 24</a></li>
            <li><a href="../view/videojoc3.html">Lego Star Wars II</a></li>
            <li><a href="../view/videojoc4.html">CSGO2</a></li>
            <li><a href="../view/videojoc5.html">Hello Kitty racing</a></li>
            <li><a href="../view/videojoc6.html">Rocket League</a></li>

        </ul>
     </nav>
</header>        
</body>
<div class="juego-blanco">
    <div class="imgjuego">
        <p class="txtjuego arriba">Trailer</p>
        <iframe class="trailer" width="560" height="315" src="https://www.youtube.com/embed/edYCtaNueQY?rel=0" frameborder="0" allowfullscreen></iframe>
        <p class="txtjuego">Imágenes</p>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../img/csgo/csgo2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/csgo/Arma.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/csgo/CSGO-Pistols-guide.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/csgo/cuchillo.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </a>
        </div>   
    </div>
    <div class="textojuego">
        <br>
        <br>
        <h3 class="txt1">Disponible en STEAM para PC</h3>
        <h1 class="txt2">CSGO2</h1>
        <h3 class="preu">Gratuito</h3>
        <p class="margenfto"> Counter-Strike: Global Offensive" (CS:GO) es un popular juego de disparos en primera persona (FPS) desarrollado por Valve y Hidden Path Entertainment. Desde su lanzamiento en 2012, se ha convertido en uno de los títulos más jugados en el mundo de los videojuegos, especialmente en la escena de los deportes electrónicos.CS:GO también cuenta con un próspero ecosistema competitivo, con torneos a nivel mundial que atraen a jugadores y espectadores de todo el mundo. Los equipos profesionales compiten en eventos de alto perfil,como el Major de CS:GO, donde se disputan premios en metálico significativos y se consagran campeones.</p>
        
        <p class="margenfto">En CS:GO, los jugadores se dividen en dos equipos: los terroristas y los contra-terroristas. Cada ronda se juega en una serie de mapas donde los terroristas intentan completar objetivos como plantar bombas, tomar rehenes, o simplemente eliminar a los contra-terroristas, mientras que estos últimos deben impedir que los terroristas completen sus objetivos o eliminarlos antes de que lo hagan. Una de las características distintivas de CS:GO es su enfoque en la precisión y la estrategia. Los jugadores deben dominar el control de armas, el posicionamiento táctico y la comunicación en equipo para tener éxito.</p>
    </div>
</div>
<div class="fondo">
<table class="container">
   
</div>
</div>
<div class="fondo">
<table class="container">
   
    <tbody>
       
        <p class="txttabla">Requisitos mínimos para Windows</p>


      <tr>
        <td  class="nombres">Memoria Base</td>
        <td>8GB</td>
      </tr>
      <tr>
        <td  class="nombres">Procesador</td>
        <td>Procesador (AMD): AMD Ryzen 5 1600 @3.2GHz <br>
            Procesador (Intel): Intel Core i5 6600K @3.50GHz.</td>
      </tr>
      <tr>
        
        <td  class="nombres">Tarjeta Gráfica</td>
        </td>
        <td>Tarjeta gráfica (AMD): AMD Radeon RX 570 4 GB <br>
            Tarjeta gráfica (NVIDIA): NVIDIA GeForce GTX 1050 Ti 4 GB</td>
      </tr>
      <tr>
        <td class="nombres">DirectX</td>
        <td>DirectX: Tarjeta gráfica compatible con DirectX 12 o equivalente (nivel de característica 12_0)</td>
      </tr>
      <tr>
        <td  class="nombres">Conexión a Internet</td>
        <td>Requisitos de conexión a internet: 512 kbps o superior Para instalar y jugar se requiere una conexión a internet.</td>
      </tr>
      <tr>
        <td  class="nombres">Disco Duro</td>
        <td>100 GB</td>
      </tr>
    </tbody>
  </table>  
  <br>
</div>
</body>
</html>