<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/HelloKitty/ICONO.png" type="icono">
    <link rel="stylesheet" href="../css/style.videojocs.css">
    <title>Hello kitty Racing</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="./img/.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/icono-videojuegos.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">

    </head>
    <body>
<header style="background-image: url(../img/tlouimg.jpg);">
    <div class="container">
     <h1 class="titulo-principal">Hello Kitty</h1>
    </div>
    <br>
     <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../view/videojoc1.html">Rayman Legends</a></li>
            <li><a href="../view/videojoc2.html">Fifa 24</a></li>
            <li><a href="../view/videojoc3.html">Lego Star Wars II</a></li>
            <li><a href="../view/videojoc4.html">CSGO2</a></li>
            <li><a href="../view/videojoc5.html">Hello Kitty racing</a></li>
            <li><a href="../view/videojoc6.html">Rocket League</a></li>

        </ul>
     </nav>
</header>        
</body>
<div class="juego-blanco">
    <div class="imgjuego">
        <p class="txtjuego arriba">Trailer</p>
        <iframe class="trailer"  width="560" height="315" src="https://www.youtube.com/embed/GM72C03V85U?rel=0" frameborder="0" allowfullscreen></iframe>
        <p class="txtjuego">Imágenes</p>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../img/HelloKitty/Caratula.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/HelloKitty/Carrera.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/HelloKitty/Coches.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/HelloKitty/hellokitty.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </a>
        </div>   
    </div>
    <div class="textojuego">
        <br>
        <br>
        <h3 class="txt1">Disponible para Ninetendo 3DS Y 2DS</h3>
        <h1 class="txt2">Hello Kitty Racing</h1>
        <h3 class="preu">25.99€</h3>
        <p class="margenfto">Hello Kitty Racing" para Nintendo 3DS es un encantador juego de carreras que combina la emoción de la competición con la adorabilidad de los personajes de Sanrio. ¡Prepárate para pisar el acelerador y enfrentarte a emocionantes desafíos en pistas coloridas y llenas de diversión!.

            Además de competir en emocionantes carreras, los jugadores pueden recoger power-ups y realizar trucos para ganar ventaja sobre sus oponentes. ¡Con controles intuitivos y una jugabilidad accesible para jugadores de todas las edades, "Hello Kitty Racing" promete ser una experiencia de carreras divertida y adorable para disfrutar en tu Nintendo 3DS!</p>
        
        <p class="margenfto">En este juego, los jugadores pueden elegir entre una variedad de personajes icónicos de Sanrio, como Hello Kitty, Keroppi, My Melody y más, cada uno con sus propias habilidades especiales y vehículos personalizados. Con gráficos vibrantes y detallados, te sumergirás en un mundo lleno de colores brillantes y diseños encantadores.El juego ofrece una amplia gama de modos de juego, incluyendo carreras rápidas para desafiar a tus amigos en partidas multijugador local, así como un modo historia emocionante donde los jugadores pueden embarcarse en una aventura para desbloquear nuevos personajes, pistas y elementos personalizables para sus vehículos</p>
    </div>
</div>
<div class="fondo">
<table class="container">
   
    <tbody>
       
        <p class="txttabla">Personajes principales</p>


      <tr>
        <td  class="nombres">Keroppi<img class="personajes" src="../img/HelloKitty/Keroppi.png" alt="Keroppi"></td>
        <td> Como una rana verde vibrante y llena de energía, Keroppi es el maestro de los entornos acuáticos en "Hello Kitty Racing". Su agilidad y destreza en el agua lo convierten en un competidor formidable en pistas que cuentan con ríos, lagos o charcos. Su capacidad para saltar sobre obstáculos acuáticos y mantener una velocidad constante en terrenos mojados lo convierte en una opción ideal para los circuitos que presentan desafíos acuáticos. Con su gorra blanca y su visera roja, Keroppi muestra su espíritu aventurero y su amor por la exploración en cada carrera.</td>
      </tr>
      <tr>
        <td  class="nombres">My-Melody<img class="diminutos" src="../img/HelloKitty/Mr Meloddy.png" alt="My-Melody"></td>
        <td>La dulce y compasiva conejita rosa, My Melody, es una experta en navegar a través de los paisajes naturales de "Hello Kitty Racing". Su conexión con la naturaleza le otorga habilidades especiales en pistas que atraviesan bosques, prados y montañas. Con su capucha roja o rosa adornada con flores, My Melody irradia calidez y bondad mientras desliza suavemente por los senderos naturales. Su habilidad para esquivar obstáculos naturales y recolectar bonificaciones de elementos de la naturaleza la convierte en una elección popular para los corredores que prefieren una experiencia de carrera más tranquila y serena</td>
      </tr>
      <tr>
        
        <td  class="nombres">Badtz-Maru <img class="diminutos" src="../img/HelloKitty/badtz-maru-1-removebg-preview.png" alt="badtz-maru"></td>
        </td>
        <td> El pingüino rebelde y travieso, Badtz-Maru, trae una dosis de actitud y velocidad a las pistas de "Hello Kitty Racing". Con su gorro blanco y negro y su expresión malhumorada, Badtz-Maru es el rey de la velocidad en terrenos terrestres. Su agilidad y habilidades de maniobra lo hacen ideal para sortear obstáculos en pistas llenas de giros y vueltas. Ya sea deslizándose por curvas cerradas o saltando sobre rampas, Badtz-Maru ofrece una experiencia de conducción emocionante y llena de acción para aquellos que buscan adrenalina en cada carrera.</td>
      </tr>
      <tr>
        <td class="nombres">Pompompurin<img class="diminutos" src="../img/HelloKitty/images-removebg-preview.png" alt="pompompurin"></td>
        <td> El adorable perrito amarillo con una gorra marrón, Pompompurin, trae su encanto relajado y su amor por el pudín a las pistas de "Hello Kitty Racing". A pesar de su naturaleza tranquila, Pompompurin es sorprendentemente resistente y confiable en las carreras. Su capacidad para resistir los efectos negativos y mantener una actitud positiva lo convierte en un competidor formidable en cualquier terreno. Con su sonrisa amistosa y su disposición relajada, Pompompurin es el compañero perfecto para una carrera llena de diversión y camaradería.</td>
      </tr>
      <tr>
        <td  class="nombres">Hello Kitty<img class="diminutos" src="../img/HelloKitty/kitty.png" alt="kitty"></td>
        <td>Como el icónico personaje principal, Hello Kitty lidera el camino en "Hello Kitty Racing" con gracia y determinación. Con su elegante pelaje blanco, su nariz amarilla y su lazo rojo, Hello Kitty personifica la amistad y la camaradería en cada carrera. Su versatilidad y adaptabilidad la hacen destacar en una variedad de terrenos y situaciones. Ya sea deslizándose sobre hielo, saltando sobre obstáculos o recogiendo potenciadores en el camino, Hello Kitty está lista para enfrentar cualquier desafío que se presente en la pista. Con su espíritu valiente y su corazón amable, Hello Kitty inspira a sus amigos a alcanzar sus sueños y a disfrutar del emocionante viaje de Hello Kitty Racing. </td>
      </tr>
    </tbody>
  </table>  
  <br>
</div>
</body>
</html>