<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojocs.css">
    <title>Star Wars III</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="../img/swd.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/icono-videojuegos.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">

    </head>
    <body>
<header style="background-image: url(../img/tlouimg.jpg);">
    <div class="container">
     <h1 class="titulo-principal">Star Wars III</h1>
    </div>
    <br>
     <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../view/videojoc1.html">Rayman Legends</a></li>
            <li><a href="../view/videojoc2.html">Fifa 24</a></li>
            <li><a href="../view/videojoc3.html">Lego Star Wars II</a></li>
            <li><a href="../view/videojoc4.html">CSGO2</a></li>
            <li><a href="../view/videojoc5.html">Hello Kitty racing</a></li>
            <li><a href="../view/videojoc6.html">Rocket League</a></li>

        </ul>
     </nav>
</header>        
</body>
<div class="juego-blanco">
    <div class="imgjuego">
        <p class="txtjuego arriba">Trailer</p>
        <iframe class="trailer" width="560" height="315" src="https://www.youtube.com/embed/MCCWs05P-xA" frameborder="0" allowfullscreen></iframe>
        <p class="txtjuego">Imágenes</p>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../img/starwarsIII/sw1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/starwarsIII/sw2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/starwarsIII/sw3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/starwarsIII/sw4.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </a>
        </div>   
    </div>
    <div class="textojuego">
        <br>
        <br>
        <h3 class="txt1">Disponible para PS5, XBOX SERIES X, SERIES S, 360 y PC</h3>
        <h1 class="txt2">Rayman Legends</h1>
        <h3 class="preu">69.99€</h3>
        <p class="margenfto">Lego Star Wars III: The Clone Wars" es un videojuego de acción y aventura que combina el universo de Lego con la famosa saga de Star Wars, específicamente centrado en la era de las Guerras Clon. Desarrollado por Traveller's Tales y publicado por LucasArts, el juego sigue el estilo de juego característico de la serie Lego, con elementos de construcción, plataformas y resolución de puzzles.

            Los jugadores pueden experimentar las emocionantes batallas de las Guerras Clon a través de una variedad de niveles, que incluyen la famosa batalla de Geonosis y otros eventos icónicos de la serie animada "Star Wars: The Clone Wars". El juego presenta una amplia selección de personajes jugables, que incluyen tanto a los héroes de la República como a los villanos separatistas, cada uno con habilidades únicas que son útiles para superar los desafíos del juego.</p>
        
        <p class="margenfto">Además de la historia principal, Lego Star Wars III ofrece un modo multijugador cooperativo que permite a los jugadores unirse para completar niveles y desafíos adicionales. Con su humor característico, gráficos coloridos y una jugabilidad accesible, el juego es tanto para fans de Star Wars como para aquellos que disfrutan de los juegos de Lego.





        </p>
    </div>
</div>
<div class="fondo">
<table class="container">
   
    <tbody>
       
        <p class="txttabla">Personajes principales</p>


      <tr>
        <td  class="nombres">Obi-WanKenobi<img class="trooper" src="../img/starwarsIII/personajes/pngwing.com (1).png" alt="Obi-WanKenobi"></td>
        <td>Un legendario Jedi y uno de los personajes más destacados en toda la saga de Star Wars. Obi-Wan es conocido por su sabiduría, habilidades de combate con sable de luz y su profundo sentido del deber. A lo largo de las películas, pasa de ser el aprendiz de Qui-Gon Jinn a convertirse en el mentor de Anakin Skywalker, y finalmente, en el maestro de Luke Skywalker. Es un personaje emblemático cuya presencia y guía tienen un impacto duradero en la historia de Star Wars.</td>
      </tr>
      <tr>
        <td  class="nombres">Yoda<img class="personajes" src="../img/starwarsIII/personajes/pngwing.com (2).png" alt="Yoda"></td>
        <td>Un maestro Jedi de una especie misteriosa conocida como los "Yoda", famoso por su sabiduría, poder en la Fuerza y su peculiar forma de hablar. A pesar de su pequeño tamaño y apariencia frágil, Yoda es uno de los Jedi más poderosos que jamás haya existido. Es reconocido por su papel como mentor de varios Jedi, incluidos Obi-Wan Kenobi y Luke Skywalker. Su sabiduría y enseñanzas fundamentales sobre la Fuerza son fundamentales para el desarrollo de la trama en varias películas de Star Wars.</td>
      </tr>
      <tr>
        
        <td  class="nombres">Stromtrooper<img class="trooper" src="../img/starwarsIII/personajes/pngwing.com (3).png" alt="Stromtrooper"></td>
        </td>
        <td>Soldados de asalto del Imperio Galáctico, conocidos por su distintiva armadura blanca y sus habilidades de combate. Los stormtroopers son leales al Emperador y están entrenados para cumplir órdenes sin cuestionar. Aparecen en todas las películas de Star Wars como los principales soldados del Imperio, aunque algunos personajes, como Finn, muestran que algunos de ellos pueden rebelarse contra su programación y buscar un camino diferente.td>
      </tr>
      <tr>
        <td class="nombres">R2-D2<img class="personajes" src="../img/starwarsIII/personajes/pngwing.com (4).png" alt="R2-D2"></td>
        <td>Un astromecánico droide de la serie R2, conocido por su valentía, ingenio y lealtad. R2-D2 es un personaje querido en la saga, famoso por su papel en la lucha contra el Imperio Galáctico y su papel en la restauración de la República. A pesar de no hablar un idioma humano, se comunica a través de pitidos y zumbidos, siendo uno de los personajes más expresivos y entrañables de Star Wars. Es el compañero constante de C-3PO y desempeña un papel crucial en muchas de las aventuras de la saga.</td>
      </tr>
      <tr>
        <td  class="nombres">C3-PO<img class="personajes" src="../img/starwarsIII/personajes/pngwing.com.png" alt="C3-PO"></td>
        <td>Un droide protocolar de la serie 3PO, conocido por su personalidad neurótica y su habilidad para comunicarse en varios idiomas. C-3PO es el contraparte humanoide de R2-D2 y a menudo se encuentra en situaciones cómicas debido a su preocupación excesiva y tendencia a meterse en problemas. A pesar de su naturaleza propensa a la ansiedad, es un personaje valiente que acompaña a los héroes en sus misiones, a menudo a regañadientes. Su conocimiento de protocolo y traducción lingüística lo convierte en un recurso invaluable para la Rebelión y, posteriormente, para la Resistencia.</td>
      </tr>
    </tbody>
  </table>  
  <br>
</div>
</body>
</html>